html {
  font-size: 16px;
  font-family: Tahoma, san-serif;
}
table {
  margin: 0 auto;
}
span {
  background-color: lightgray;
  font-size: 1.2rem;
  font-weight: bold;
}
th, td {
  min-width: 250px;
  max-width: 300px;
  padding: 25px;
}
th {
  background-color: lightblue;
}
tr {
  background-color: linen;
}
.code {
  font-family: monospace;
}
